#Data types and Structure Questions

# **1.  What are data structures, and why are they important ?**

  - Data structure is a way of organizing and storing data so that it can be accessed and manipulated efficiently.
  
  it includes - lists, sets, tuples, dictionaries, stacks,arrays etc

  - **Why data structure are important** -->
  -> Memory optimization - proper choice of data structure can reduce memory usage

  -> Efficiency - it helps in fast access of operations like insertion, deletion of data.

  -> Organization - it keeps the data in structured format that we can easily manipulate it.

  -> Scalability - helpfull in handling large data sets in applications

# **2. Explain the difference between mutable and immutable data types with examples ?**

- Mutable objects are those objects which can be changed after created ( with same memory reference )
**example - list, sets, dict*
```
myData = [1,2,3]
myData[0] = 100
print(myData)           #[100, 2, 3]
```



- Immutable objects are those objects can not be changed and any change created a new memory reference
**example - int, float, str*
```
myNewData = (1,2,3)
myNewData[0] = 900
print(myNewData)      #TypeError : 'tuple' object does not support item assignment
```

# **3. What are the main differences between lists and tuples in Python ?**

- Differences between lists and tuples -->
-> Mutability - **Lists are mutable** and **tuples are immutable**
-> Syntax - **List create with [ square bracket ]** and **tuples are created with ( Parenthesis )**
-> Use cases - List are used for **dynamic data** and tuples are used for **fixed data**
-> Memory uses - Tuples are uses less memory than lists
-> performance - lists are slower than tuples

# **4. Describe how dictionaries store data ?**

- Dictionaries stores the data in key - value pair where all the keys are unique.
-> it allows the faster access, update and delete of data using keys
->  keys are used to identify the data
-> values are nothing but the data which is associated with keys

# **5. Why might you use a set instead of a list in Python ?**

- We might use set instead of list in  python because -  
- **No duplicates** - sets automatic removes duplicates
```
my_set = {1, 2, 2, 3}  # Output: {1, 2, 3}
my_list = [1, 2, 2, 3] # Output: [1, 2, 2, 3]
```
- **Faster checking** - Checking if an element exists in a set is much faster (average O(1)) because sets use hashing, whereas lists take O(n) time.

- **Mathematical operators** - sets allows us to use operations like union, intersection and differences which helps us to compare data


- We can use a set when we need unique items and fast lookups, and a list when we care about order or duplicates.

# **6. What is a string in Python, and how is it different from a list ?**

- A string is a sequence of characters enclosed within single, double, triple quotes according to situations. string represent the textual data which can be manipulated with string methods

- String is different from list in terms of ----->

- **Data type** - string stores only characters data and lists stores any type of data like int, float, string.

- **Mutability** - strings are immutable and lists are mutable

- **Representation** : Strings are written inside quotes (' ', " "), while lists are written inside square brackets [ ].

- **Modification** : You cannot directly change a character in a string, but you can change, add, or remove elements in a list.

# **7.  How do tuples ensure data integrity in Python ?**

- Tuples ensures data integrity in python because they are immutable and once the tuple is created its element can not be added or removed

- when the data is not changes accidentally then it is safe choice
- They prevent unintentional changes in critical data, which is important for constants, configurations, or keys in dictionaries.

- example -->
```
config = ("localhost", 8080)  
# config[0] = "127.0.0.1"  # ❌ Not allowed  
```
- Predictable behavior : No unexpected changes in tuple data make debugging and tracking logic easier.

- Thread - safety - In multi threaded programming, immutable data structures like tuples reduce the chances of data corruption with modifications

#**8. What is a hash table, and how does it relate to dictionaries in Python ?**

- A hash - table is a data structure that stores data in key - value pairs and use a hash function to compute the index where the value will be stored

- In Python, a dictionary is implemented using a hash table internally. When you create a dictionary and add a key-value pair, Python calculates the hash of the key and stores the value at a position in memory based on that hash. This is why dictionary operations like dict[key] are usually very fast (average O(1) time complexity).
```
my_Data  = {"name":"Joe" , "role":"student"}
# 'name' and 'role' are keys stored using their hash values
```

- So, dictionaries in Python are built on top of hash tables, which is why they require keys to be hashable (like strings, numbers, or tuples)

- hash tables allows dict to lookup data very fast , even with the large amount of data

#**9. Can lists contain different data types in Python ?**

- Yes, lists can store multiple data type in python, it can holds data type like int , float,  string , bool and also nested list and it is because python lists are dynamic in nature and it stores refrences of objects not fixed - type elements

- example ---> my_list = [10, "Hello", 3.14, True, [1, 2, 3]]
print(my_list)

#**10 . Explain why strings are immutable in Python ?**

- Strings in python are immutable, it means once it is created then it is not changed, it is because string is designed to hashable and memory - efficient

- strings are immutable also because -->
-> Data integrity - prevents accidental changes and ensure the reliable behavior in programming
-> Hashability - strings need to be used as keys in dict and elements in sets
-> Performance optimization : Immutable strings can be stored and accessed in a way that speeds up certain operations
-> Thread safety - As we know string can not be modified they can shared between threads without risk of corrupt programm

#**11 . What advantages do dictionaries offer over lists for certain tasks ?**

- The advantages do dictionaries offer over lists for certain tasks are following -
-> Dynamic and flexible : Keys can be number, strings and even tuples making dict more versatile
-> Faster lookup : Dictionaries use hash table , So key based lookups are much more faster with O(1) with compare to list that is O(n)
-> Direct access : We can search values with keys without searching the whole collection of data
->Better for Mapped Data : Ideal for scenarios where each piece of data has a unique identifier, like storing user details by username.  
-> Unordered but organized : Data is stored in a way that’s easy to manage when you care about associations rather than order.

#**12 .  Describe a scenario where using a tuple would be preferable over a list ?**

- Scenario where tuples is preferable over a list are ---->
- Color codes (RGB) – Represents fixed values that should not change.
```
color = (255, 255, 255)
```
-> using tuples in this case ensures data integrity because tuples are immutables
-> tuples provide less memory usage and better performance than list which is useful for large datasets that are read only  
-> Tuples can be used as dictionary keys (unlike lists), making them ideal for situations where the data needs to be hashed or stored in a set.

#**13 . How do sets handle duplicate values in Python ?**

- Sets in python **do not allow duplicate values** because sets are based on hashing and every element is unique, it automatically remove duplicate values
```
my_set = {1, 2, 2, 3}
print(my_set)  
# Output: {1, 2, 3}
```

#**14 .  How does the “in” keyword work differently for lists and dictionaries ?**

- The in keyword checks membership, but it works differently for lists and dictionaries:

- lists -->
-> ' in ' checks whether value exists in the lists
-> it searches element by element
->
```
my_Data = [1,2,3,4]
print(2 in my_Data)             # True (because 2 is in the my_Data)
```


- Dictonaries -->
-> ' in ' checks whether a keys is exist in dict or not (NOT VALUES)
-> This is done by hashing so it is faster
->
```
my_dict = {"a": 1, "b": 2}
print("a" in my_dict)   # True (checks for key)
print(1 in my_dict)     # False (values are not checked by default)
```

#**15 .   Can you modify the elements of a tuple? Explain why or why not ?**

- No we can not modify the elements of tuple because tuples are immutable once they are created there content can not be changed
- the nature of immutablity nature of tuples allows it for data integrity and making them useful for fixed data

- Example -
```
my_data = (1,2,3)
my_data[0] = 999
print(my_data)            # ❌ This will raise a TypeError
```

- tuples stores references to a object in a fixed structure

- However, if a tuple contains a mutable object (like a list), you can modify the object inside it, but not the tuple itself:

-
```
my_tuple = (1, [2, 3])
my_tuple[1].append(4)  # ✅ This works because the list inside the tuple is mutable
print(my_tuple)  # (1, [2, 3, 4])
```

#**16 .  What is a nested dictionary, and give an example of its use case ?**

- A nested dictionaries in python is where values themselves are dictionaries and it is used to store hierarchical or structure data in key - value pairs

- example -->
```
student_data = {
    "student1": {"name": "Alice", "age": 20, "grade": "A"},
    "student2": {"name": "Bob", "age": 22, "grade": "B"}
}
```

- Use cases -
- Storing structured data such as database-like records or JSON data.

- Example: In a school management system, each student can have details like name, age, and grade stored inside a nested dictionary.

#**17 .  Describe the time complexity of accessing elements in a dictionary ?**

- Time complexity of accessing elements in  dictionary --

- Average case :
-> Accessing an elements with key usually takes O(1) time because dictionaries in python implemented using hash - tables which allow constant time lookups on an average

- Worst case :
-> In rare cases of hash collisions, the time complexity can degrade to O(n), but this is extremely uncommon in practice because Python uses a good hashing mechanism.

#**18 . In what situations are lists preferred over dictionaries ?**

- Situations where lists are preferred over dictionaries
-Index based Access : When we need to access the elements by their index positions instead of key

- Ordered collection of elements : when the order of item is priority and we want to maintain a sequence order

- No unique key requirement : When duplicate elements are allowed

- Small datasets :  when working with small datasets ( where key value pair is not required )

- Iteration over values : When you want to loop through elements directly without worrying about keys.

- Lightweight Data Structure : Lists have less overhead than dictionaries if you only need simple sequential data.

#**19 .  Why are dictionaries considered unordered, and how does that affect data retrieval ?**

- Impact of data retrieval :
-> We cannot rely on the position of elements like in a list (index-based access is not possible).
-> We access values by their keys, not by order.
-> The order of insertion is preserved only from Python 3.7+, but it's still not intended for operations that depend on positional ordering.

- Unordered Nature :
-> Dictionaries store data as key-value pairs using a hash table. The keys are hashed, and the values are stored based on the hash, not in the order you insert them.

#**20 .  Explain the difference between a list and a dictionary in terms of data retrieval. ?**


- Differences between list and dictionary in terms of data retrieval
- Access Methods :---
-> List: Elements are retrieved using index positions (integer-based access).
-> Example -->
```
my_list = [10, 20, 30]
print(my_list[1])  # Output: 20
```
->Dictionary: Elements are retrieved using keys (hash-based access).

- Lookup speed :---
-> List: Index lookup is O(1), but searching by value is O(n) because it requires scanning all elements.
-> Dictionary: Key lookup is O(1) on average due to hashing.

- Data organization :---
-> List: Stores elements in an ordered sequence and allows duplicates.
-> Dictionary: Stores data as key-value pairs; keys are unique.

- When to use :---
-> List: Best for ordered collections where position matters.
-> Dictionary: Best for fast lookups based on a unique identifier (key).



# Practical Questions

#**1 .  Write a code to create a string with your name and print it ?**

In [2]:
my_intro = input(" Enter your name ")
print(f"My name is {my_intro}")

 Enter your name himu
My name is himu

#**2 . Write a code to find the length of the string "Hello World" ?**

In [85]:
my_data = "Hello World"
print(f"The length of given string is :  {len(my_data)}")

The length of given string is :  11

#**3 . Write a code to slice the first 3 characters from the string "Python Programming" ?**

In [84]:
string = "Python Programming"
print(string[:3])

Pyt

#**4 . Write a code to convert the string "hello" to uppercase ?**

In [18]:
string = "hello"
print(f"the upper case of given string is : {string.upper()}")

the upper case of given string is : HELLO

#**5 .  Write a code to replace the word "apple" with "orange" in the string "I like apple" ?**

In [23]:
string_data = "I Like apple"
replaced_string = string_data.replace("apple","orange")
print(replaced_string)

I Like orange

#**6 . Write a code to create a list with numbers 1 to 5 and print it ?**

In [31]:
numbers = []

for i in range(1,6):
  numbers.append(i)

print(numbers)        # this shhould be outside the loop

[1, 2, 3, 4, 5]

#**7 . Write a code to append the number 10 to the list [1, 2, 3, 4] ?**

In [32]:
list_item = [1,2,3,4]

list_item.append(10)
print(f"the updated list items are now : {list_item}")

the updated list items are now : [1, 2, 3, 4, 10]

#**8 . Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?**

In [33]:
list_data = [1,2,3,4,5]
list_data.remove(3)
print(f"the updated list after removed item is : {list_data}")

the updated list after removed item is : [1, 2, 4, 5]

#**9 .  Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?**

In [35]:
items = ['a','b','c','d']
print(f"the second element of the list is : {items[1]}")          # 2nd element position at index 1

the second element of the list is : b

#**10 .  Write a code to reverse the list [10, 20, 30, 40, 50].?**

- reversing here we can do it with two methods - one is by using inbuilt funtion and other is by using slicing method

In [38]:
# by using inbuilt function

item_list = [10,20,30,40,50]

item_list.reverse()

print(f"the reverse list items are : {item_list}")


# by using slicing method

item_data = [10,20,30,40,50]

print(f"the reverse list items with slice method : {item_data[::-1]}")

the reverse list items are : [50, 40, 30, 20, 10]
the reverse list items are : [50, 40, 30, 20, 10]

#**11 .   Write a code to create a tuple with the elements 100, 200, 300 and print it.?**

In [39]:
my_tuple = (100,200,300)
print(f"tuples data are : {my_tuple}")

tuples data are : (100, 200, 300)

#**12 .    Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?**

In [40]:
my_elements = ('red','green','blue','yellow')
my_updated_item = my_elements[-2]

print(f"the second last element of the tuple is : {my_updated_item}")

the second last element of the tuple is : blue

#**13 .     Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?**

In [42]:
numbers = (10,20,5,15)

min_num = min(numbers)

print(f"minimum number in the tuple is : {min_num}")

minimum number in the tuple is : 5

#**14 . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'). ?**

In [43]:
animals = ('dog','cat','rabbit')

cat_index = animals.index('cat')

print(f"the index of cat is : {cat_index}")

the index of cat is : 1

#**15 .  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it ?**

In [45]:
fruits = ("banana","apple","orange")

if 'kiwi' in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

#**16 . Write a code to create a set with the elements 'a', 'b', 'c' and print it**

In [48]:
my_set = {'a','b','c'}

print(f"the set items are : {my_set}")

the set items are : {'b', 'a', 'c'}

#**17 . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [49]:
set_items = {1,2,3,4,5}

set_items.clear()

print(f"the set items after clear : {set_items}")

the set items after clear : set()

#**18 . Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [50]:
numbers = {1,2,3,4}

numbers.remove(4)

print(f"the set items after removing 4 : {numbers}")

the set items after removing 4 : {1, 2, 3}

#**19 . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [51]:
set_data1 = {1,2,3}
set_data2 = {3,4,5}

union_sets = set_data1.union(set_data2)

print(f"the union of two given sets is : {union_sets}")

the union of two given sets is : {1, 2, 3, 4, 5}

#**20 . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}**

In [52]:
set1 = {1,2,3}
set2 = {2,3,4}

intersection_sets = set1.intersection(set2)

print(f"the intersection of two given sets is : {intersection_sets}")

the intersection of two given sets is : {2, 3}

#**21 . Write a code to create a dictionary with the keys "name", "age", and "city", and print it**

In [54]:
my_data = {
    "name":"Himanshu",
    "age":27,
    "city":"Varanasi"
}

print(f"the dictionary items are : {my_data}")

the dictionary items are : {'name': 'Himanshu', 'age': 27, 'city': 'Varanasi'}

#**22 . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}**

In [55]:
my_dict = {
    'name' : 'John',
    'age':25
}

my_dict['country'] = 'USA'

print (f"the updated dictionary is : {my_dict}")

the updated dictionary is : {'name': 'John', 'age': 25, 'country': 'USA'}

#**23 . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [60]:
my_dict = {
    'name':"Alice",
    'age':30
}

print(f"the value of name is : {my_dict.get('name')}")

the value of name is : Alice

#**24 . Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [61]:
person = {
    'name':'Bob',
    'age':22,
    'city':'New York'
}

person.pop('age')

print(f"the updated dictionary after removing age is : {person}")

the updated dictionary after removing age is : {'name': 'Bob', 'city': 'New York'}

#**25 .  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [62]:
person_data = {
    'name':'Alice',
    'city':'Paris'
}

if 'city' in person_data:
  print("city is present in the dictionary")
else:
  print("city is not present in dictionary")

city is present in the dictionary

#**26 .  Write a code to create a list, a tuple, and a dictionary, and print them all**

In [82]:
my_list = [ 1,2,3,4 ,"hello",False ]
my_tuple = (2,3,4,5)
my_dict = {
    "name":"Himanshu",
    "age":27,
    "city":"Varanasi"
}

print(f"the list items are : {my_list} and there type is : {type(my_list)}")
print(f"the tuple items are : {my_tuple} and there type is : {type(my_tuple)}")
print(f"the dictionary items are : {my_dict} and there type is : {type(my_dict)}")

the list items are : [1, 2, 3, 4, 'hello', False] and there type is : <class 'list'>
the tuple items are : (2, 3, 4, 5) and there type is : <class 'tuple'>
the dictionary items are : {'name': 'Himanshu', 'age': 27, 'city': 'Varanasi'} and there type is : <class 'dict'>

#**27 .   Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [69]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [27, 52, 68, 77, 98]

#**28 .  Write a code to create a list with strings and print the element at the third index.**

In [78]:
my_list = ["hello","how","are","you"]

print(f"the element at third index is : {my_list[3]}")

#Python indexing starts at 0,
#so my_list[3] is 4th element, not the 3rd. If the question asks 3rd index, my_list[3] is correct. But if it’s 3rd element, it should be my_list[2].

the element at third index is : you

#**29 .   Write a code to combine two dictionaries into one and print the result.**

In [73]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine dict2 into dict1
dict1.update(dict2)

print("Combined dictionary:", dict1)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

#**30 .  Write a code to convert a list of strings into a set.**

In [77]:
# List of strings
my_list = ["apple", "banana", "cherry", "apple", "date"]

# Convert list to set
my_set = set(my_list)


print("Set format of given string is :", my_set)

Set format of given string is : {'cherry', 'apple', 'banana', 'date'}